################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/coreApi/.vs/coreApi/v15
/coreApi/coreApi/bin/Debug/netcoreapp2.1
/coreApi/coreApi/obj
